@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap: 100, 200, 300, 400, 500, 600, 700|Exo:100, 200, 300, 400, 500, 600, 700');

/*------------------------------------------------------Colours */

.bg-color-name-title {
    background-color: bisque;
    padding-bottom: 12px;
}

header {
    margin: 0;  
}

.heading {
    margin: 50px;
}

.logo {
    background: url("../images/karen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: black;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: black;
}