@import url('https://fonts.googleapis.com/css2?family=Montserrat; 100, 200, 300, 400, 500, 600, 700');

/*------------------------------------------------------Colours */

.bg-color-name-title {
    background: url("../images/karen.png");
    padding-bottom: 10px;
    max-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ui-menu-color-home {
    background-color: #cb7b72;
}

.ui-menu-color-work {   
}

.ui-menu-color-touch {
    background-color: #cb7b72;
}

.ui-menu-color-download {
    background-color: #cb7b72;
}

.main-heading {
    background-color: #e5bdb8;
}

/*------------------------------------------------------Special paddings/margins/text */

h1,
h2,
h3, 
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
    color: #cb7b72;
}

.inline-block {
    display: inline-block;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    text-align: center;
}

.general-sub {
    padding-top: 50px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-name,
.form-email,
.form-project {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-bar {
    margin-bottom: 100px;
}

.contact-heading,
.contact-sub-heading {
    padding-top: 10px;
}

.weight {
    font-weight: 1000;
}

/*----Margin spacing for main section of index.html---*/

.about-me {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-body-do {
    margin-left: 0;
    margin-right: 10px;
}

.main-body-interests {
    margin-left: 10px;
    margin-right: 10px;
}

.main-body-work {
    margin-left: 20px;
    margin-right: 10px;
}

.what-do-i-do {
    padding-top: 50px;
    padding-bottom: 20px;
}

.interests {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work {
    padding-top: 20px;
    padding-bottom: 50px;
}

/*----Margin spacing for main section of history.html---*/

.work-history {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-body-hubspot {
    margin-left: 0px;
    margin-right: 10px;
}

.main-body-invision {
    margin-left: 8px;
    margin-right: 10px;
}

.main-body-intercom {
    margin-left: 30px;
    margin-right: 10px;
}

.hubspot {
    padding-top: 50px;
    padding-bottom: 20px;
}

.invision {
    padding-top: 20px;
    padding-bottom: 20px;
}

.intercom {
    padding-top: 20px;
    padding-bottom: 50px;
}

.work-together {
    padding-top: 50px;
    padding-bottom: 30px; 
}

.button{
    padding-bottom: 50px; 
}
/*------------------------------------------------------Heading */


.heading {
    margin: 50px;
    height: 300px;
}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 46px;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 50px;
    color: #fafafa;
    font-weight: 500;
    text-align: center;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    padding-top: 50px;
    padding-left: 50px;
    color: #fafafa;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.list-inline {
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding-bottom: 0px;
    
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------------------Footer */
.footer {
    background-color: #e5bdb8;
    min-height: 120px;
}

.general-sub {
    color:#cb7b72;
}

.footer-sub {
    color: #fafafa;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height; 7px;
    text-align: center;
    color: #fafafa;
    backgroud: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.footer-align {
    text-align: center;
}

/*-----------------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
    margin-top: 10px;
}

/*-----------------------------------------------Work History */

.work-history-icon {
    font-size: 26px;
    color: #e67e22;
}

.work-history-heading {
    margin-bottom: 15px;
    margin-top: 10p;
}

.role {
    color: #e5bdb8;
    font-size: 20px;
    font-weight: 1000;
}

.dates {
    font-size: 15px;
    font-weight: 1000;
    font-style: italic;
}

/*-----------------------------------------------Contact */

.contact-heading {
    padding-bottom: 10px;
}

.contact-sub-heading {
    padding-bottom: 30px;
}

